<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular-route.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="/js/app.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link rel="stylesheet" href="../style/style.css">
</head>
<body>
    <div ng-view></div>
    <div class="container" ng-app="gradingApp" ng-controller="tabController as tabs">
        <div class="header">
            <h3 class="text-muted"></h3>
        </div>
        
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbar">
                <ul class="navbar-nav">
                    <li class="nav-item" ng-class="{active: tabs.isSet(1)}">
                        <a class="nav-link" href ng-click="tabs.setTab(1)">Tasks</a>
                    </li>
                    <li class="nav-item" ng-class="{active: tabs.isSet(2)}">
                        <a class="nav-link" href ng-click="tabs.setTab(2)">Submissions</a>
                    </li>
                    <li class="nav-item" ng-class="{active: tabs.isSet(3)}">
                        <a class="nav-link" href ng-click="tabs.setTab(3)">Grading</a>
                    </li>
                </ul>
            </div>
        </nav>
        <br>

        <div ng-controller="appController as app">
            <div ng-show="tabs.isSet(1)">
                <div class="row">
                    <div class="col-sm-8">
                        <select id="allTasks" class="form-control" ng-model="currentTask" ng-change="getAllStudentTasks()">
                            <option data-ng-repeat="task in allTasks" value="{{ task }}">{{ task.name }}</option>
                        </select>
                        <!--form>
                            <input type="text" ng-model="query" class="form-control">
                        </form-->

                        <br>
                        <div class="table-responsive">
                            <table id="results" class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>
                                            <a class="table-link" ng-click="studentTaskSort('uniid')">uniID</a>
                                            <span class="sortorder" ng-show="studentTaskProperty === 'uniid'" ng-class="{reverse: studentTaskReverse}"></span>
                                        </th>
                                        <th>
                                            <a class="table-link" ng-click="studentTaskSort('grade.grade')">grade</a>
                                            <span class="sortorder" ng-show="studentTaskProperty === 'grade.grade'" ng-class="{reverse: studentTaskReverse}"></span>
                                        </th>
                                        <th>
                                            <a class="table-link" ng-click="studentTaskSort('submissions[studentTask.submissions.length - 1].date')">last changed</a>
                                            <span class="sortorder" ng-show="studentTaskProperty === 'submissions[studentTask.submissions.length - 1].date'" ng-class="{reverse: studentTaskReverse}"></span>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="studentTask in studentTasks | orderBy:studentTaskProperty:studentTaskReverse track by $index" ng-click="getSubmissions(studentTask); tabs.setTab(2)">
                                        <th scope="row">{{ $index + 1 }}</th>
                                        <td>{{ studentTask.uniid }}</td>
                                        <td>{{ studentTask.grade.grade }}</td>
                                        <td>{{ studentTask.submissions[studentTask.submissions.length - 1].date }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="col-sm-3 ml-auto">
                        <ul>
                            <li><a id="runPlagiarism" href="" ng-click="runPlagiarism()" ng-disabled="isDisabled(selectedTask, '#runPlagiarism')">Run plagiarism</a></li>
                            <li><a id="plagiarismResults" href="{{ selectedTask.plagiarism.result }}" ng-disabled="isDisabled(selectedTask.plagiarism.result, '#plagiarismResults')" target="_blank">Plagiarism results</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            
            <div ng-show="tabs.isSet(2)">
                <div class="row">
                    <div class="col-sm-8">
                        <div class="table-responsive">
                            <table id="submissions" class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>stdout</th>
                                        <th>stderr</th>
                                        <th>date</th>
                                        <th></th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="submission in submissions | orderBy:$index:true track by $index" ng-click="setSelectedSubmission(submission)">
                                        <th scope="row">{{ $index + 1 }}</th>
                                        <td>{{ submission.sandbox.stdout }}</td>
                                        <td>{{ submission.sandbox.stderr }}</td>
                                        <td>{{ submission.date }}</td>
                                        <td><a href="{{ submission.location }}" target="_blank">Download</a></td>
                                        <td><a href="" ng-click="tabs.setTab(3)">Grade</a></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="col-sm-3 ml-auto">
                        <ul>
                            <li><a id="createReview" href="" ng-click="updateReview()" ng-disabled="isDisabled(selectedStudentTask, '#createReview')">Update review</a></li>
                            <li><a id="openReview" href="{{ selectedStudentTask.review.link }}" target="_blank" ng-disabled="isDisabled(selectedStudentTask.review.link, '#openReview')">Open review</a></li>
                            <li><a id="sendFeedback" href="" ng-click="sendMail()" ng-disabled="isDisabled(selectedStudentTask.review.reviewId, '#sendFeedback')">Send feedback</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            
            <div ng-show="tabs.isSet(3)">
                <div class="row">
                    <div class="col-sm-8">
                        <p>Grade</p>
                        <input type="number" ng-model="gradeInput" class="form-control">
                        <br>
                        <button type="button" ng-click="setGrade(gradeInput); tabs.setTab(1)" class="btn btn-primary">Submit grade</button>
                    </div>
                    <div class="col-sm-3 ml-auto">
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>